@import url('https://fonts.googleapis.com/css?family=Italianno&display=swap');
body{
    width: 800px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
    /*background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);*/
    background: linear-gradient(-90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

nav ul{
    list-style-type: none;
    padding: 10px 0;
    text-align: center;
    border-top: 2px solid purple;
    border-bottom: 2px solid purple;
}

nav ul li a{
    color: purple;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:visited{
    color:chocolate;
}

nav ul li a:hover{
    color: chartreuse;
}


nav ul li{
    display: inline-block;
    width: 100px;
    text-align: center;
}

nav ul li ul{
    position: absolute;
    width: 200px;
    background-color: burlywood;
    box-shadow: 0 0 10px white;
    padding: 0;
    margin: 0;
    display: none;
}
nav ul li:hover ul{
    display: block;
}
nav ul li ul li{
    padding: 5px 0;
    width: 100%;
}
nav ul li ul li:hover{
    background-color: purple;
}
nav ul li ul li a{
    width: 100%;
    display: block;
}


footer{
    text-align: center;
    border-top: 2px solid purple;
}

.width60{
    width: 58%;
    margin: 1%;
}
.width40{
    width: 35.5%;
    padding: 2%;
}
.bgWhite{
    background-color: white;
    box-shadow: 0 0 10px #3c3c3c;
    margin-top: 100px;
    border: 2px solid pink;
}

.max100{
    max-width: 100%;
}

.bgWhite p::first-letter{
    font-size: 30px;
}

.left.width60 p:nth-child(even){
    color: goldenrod;
}

.bgWhite h1{
    text-shadow: 0 0 10px indigo;
}

main.innerPage{ /* main tag with class innerPage */
    float: right;
    width: 73%;
}

aside.innerAside{
    float: left;
    width: 25%;
}

footer{
    clear: both;
}
@media  screen and (max-width: 869px){
body{
    width: 96%;
    padding:2%; 
    }
}
@media screen and (max-width:823px){
    .width40,.width60{
        width:100%;
        margin: 0 auto;
        float: none !important;
    }
}
@media screen and (max-width:730px){
.right.width40.bgWhite {
    width: 84.5%;
    margin-top: 20px;
}
}